.movies__button-more {
  border: none;
  padding: 0;
  margin: 50px 70px 80px;
  width: calc(100% - 140px);
  height: 36px;
  border-radius: 6px;
  background-color: #f9f9f9;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  transition: .3s;
}

.movies__button-more_unactive {
  display: none;
}

.movies__button-more:hover {
  cursor: pointer;
  opacity: .8;
}

@media (max-width: 800px) {
  .movies__button-more {
    margin-left: 30px;
    margin-right: 30px;
    width: calc(100% - 60px);

  }
}

@media (max-width: 400px) {
  .movies__button-more {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
  }
}




