.profile {
  width: 410px;
  margin: 74px auto 70px;
  text-align: center;
}

.form {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  margin-bottom: 206px;
}

.profile__heading {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 123px;
}

.form__label {
  position: relative;
  display: block;
}

.form__label:first-child {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.form__input {
  border: none;
  padding: 0;
  text-align: right;
  width: 100%;
  display: block;
  outline: none;
}

.form__input_error {
  color: #ff3055
}

.form__input:disabled {
  background-color: #fff;
  color: #000
}

.form__placeholder {
  font-weight: 500;
  position: absolute;
  left: 0;
  top: 0;
}

.profile__button {
  display: block;
  border: none;
  padding: 0;
  margin: auto;
  background-color: #fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  cursor: pointer;
  transition: .3s;
}



.profile__button:hover {
  opacity: .7;
}

.profile__button_logout {
  color: #ff3055;
  font-weight: 500;
  margin-top: 16px;
}

.profile__button_none {
  display: none;
}

.profile__button-save {
  width: 100%;
  background-color: #3456f3;
  border-radius: 3px;
  margin-top: 20px;
  height: 45px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}



.profile__button-save:hover {
  opacity: .8;
}

.profile__button-save:disabled {
  cursor: default;
  opacity: 1;
  color: #C2C2C2;
  background-color: #F8F8F8;
}

.profile__button-save_unactive {
  background-color: #F8F8F8;
  color: #C2C2C2
}

.profile__error {
  display: block;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #ff004c;
  width: 100%;
  height: 14px;
  margin-top: 155px;
}

.profile__error_none {
  display: none;
}

.profile__error_none {
  opacity: 0;
}

@media (max-width: 800px) {
  .profile {
    margin-top: 236px;
  }
  .profile__heading {
    padding-bottom: 100px;
  }
}

@media (max-width: 450px) {
  .profile {
    margin: 70px 30px 40px;
    width: calc(100vw - 60px)
  }

  .profile__heading {
    padding-bottom: 80px;
  }
  .form {
    margin-bottom: 40px;
  }

  .profile__button {
    margin-top: 380px;
  }
  .profile__button_logout {
    margin-top: 16px;
  }

  .profile__button-save {
    margin-top: 20px;
  }

  .profile__error {
    margin-top: 340px;
  }
}
