.not-found {
  width: 400px;
  margin: 250px auto;
  text-align: center;

}

.not-found__error {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
}

.not-found__paragraph {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 184px;
}

.not-found__link {
font-size: 14px;
line-height: 17px;
text-align: center;
color: #3456F3;
background-color: inherit;
border: none;
padding: 0;
cursor: pointer;
}
