@keyframes smooth-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.popup {
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}

.popup_opened {
  display: flex;
  animation: smooth-open 0.4s;
}

.popup__navigate {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  width: 520px;
  gap: 22px;
}

.popup__button-close {
  width: 22px;
  height: 22px;
  background-image: url(../../images/close-popup.svg);
  border: none;
  padding: 0;
  background-position: center;
  background-color: transparent;
  position: absolute;
  top: 22px;
  right: 22px;
  cursor: pointer;
}


.popup__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  text-decoration: none;

}

.popup__link_active {
  border-bottom: 2px solid #000;
}

.popup__link_el_account {
  margin-top: calc(100vh - 431px);
  margin-bottom: 90px;
  font-size: 14px;
  line-height: 16px;
  background-color: #f9f9f9;
  border-radius: 20px;
  width: 100px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__link:first-child {
  margin-top: 160px;
}

.popup__link:not(:last-child) {
  padding-bottom: 4px;
}
