.techs {
  padding: 100px 70px;
  background-color: #f5f5f5;
}

.techs__heading {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
  text-align: center;
  padding: 90px 0 26px;
}

.techs__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  width: 460px;
  margin: 0 auto;
}

.techs__list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.list-component {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8e8e8;
  border-radius: 10px;
  width: 90px;
  height: 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media (max-width: 840px) {
  .techs {
    padding: 90px 50px;
  }

  .techs__list {
    padding-top: 83px;
  }

  .techs__heading {
    padding: 80px 0 22px;
    font-weight: 400;
    text-shadow: none;
  }

  .techs__paragraph {
    font-size: 12px;
    line-height: 18px;
  }

  .list-component {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 15px;
  }
}

@media (max-width: 750px) {
  .techs__list {
    flex-wrap: wrap;
  }
}

@media (max-width: 550px) {
  .techs {
    padding: 60px 18px 70px;
    background-color: #fff;
  }

  .techs__heading {
    font-size: 30px;
    line-height: 36px;
    padding-top: 60px;
  }

  .techs__paragraph {
    font-size: 11px;
    line-height: 16px;
    width: 100%;
  }

  .techs__list {
    width: 178px;
    justify-content: flex-start;
    padding-top: 50px;
  }
}
